.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 100px;
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background: #ffffff8c;
  height: 300px;
  width: 100%;
}

.home {
  max-width: 1500px;
  margin: 0px auto;
}

.home__row {
  display: flex;
  z-index: 1;
  margin: 0px 5px;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: center;
}

.home__image {
  width: 100%;
  object-fit: contain;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  margin-bottom: -150px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  margin: 10px;
  padding: 20px;
  z-index: 1;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
  align-self: flex-start;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}

.product>img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.fa {
  color: #f0c14b;
}

.sec-heading {
  color: #000000;
  font-size: 90px;
  text-align: center;
}

.product>button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #8e8f94;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #00eaff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #1c2965;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Individual item */
.bm-item {
  display: inline-block;

  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

.aboutUsBG{
  /* background-image: ; */
  background: linear-gradient(rgba(0, 136, 255, 0.5), rgb(255, 255, 255)),
  url("https://media.istockphoto.com/photos/about-us-picture-id1163589059?k=20&m=1163589059&s=612x612&w=0&h=h2JhLYR5652zSLt64wGOfJhDxlMLToQPn4Kd5JT1bJo=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
